body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}
#menu{
    font-family: 'Poppins', sans-serif;
}
#menu_bar{
    margin-bottom: 32px;
}
.divisor-cinza{
    height: 1px;
    width: 198px;
    background-color: #F2F2F2;
}

.text-azul{
    color: #0095D9;
}

.open-sans{
    font-family: 'Open Sans', sans-serif;
}

.botoom-azul{
    background-color: #0095D9;
}