body{
    font-family: 'Open Sans', sans-serif;
}
#menu, #botões-de-editar-conta{
    font-family: 'Poppins', sans-serif;
}
#menu_bar{
    margin-bottom: 32px;
}
.divisor-cinza{
    height: 1px;
    width: 198px;
    background-color: #F2F2F2;
}